<div class="game">
  <br><br><br><br>
  <br><br><br><br>
  <div class="matchString">
    <div>{{ShowString}}</div>
    <div *ngIf="finded">Correct!</div>
  </div>

  <br>

  <div class="randomStrings">
    <div id="words" *ngFor="let item of RandomStrings">
      <button mat-raised-button color="primary" (click)="clickOnWord(item)"  class="words">{{item}}</button>
    </div>
    <div class="clearfix"></div>
  </div>

  <p></p>
  <button mat-raised-button color="primary" *ngIf="ShowNext" (click)="next()" class="next">Next</button>
  <div class="clearfix"></div>
</div>
