<div class="row justify-content-center">
  <br><br><br><br>
  <br><br><br><br>
  <div class="matchString">
    <div>{{ShowString}}</div>
    <br>
    <div *ngIf="finded">{{MatchString}}</div>
  </div>

  <br><br>

  <div class="col-md-6 col-lg-4 mb-5 mt-5" *ngIf="!finded">
    <div id="words" *ngFor="let item of RandomStrings">
      <button mat-raised-button color="primary" (click)="clickOnWord(item)"  class="words">{{item}}</button>
    </div>
  </div>

  <p></p>
  <button mat-raised-button color="primary" *ngIf="ShowNext" (click)="next()" class="next">Next</button>
</div>
