.matchString{
  font-size: xx-large;
  font-stretch: expanded;
  padding: 50px;
  margin: 250px;
  border: 2px darkgrey dashed;
  text-align: center;
}
.randomStrings{
  display: block;
  margin-left: 300px;  
}
.words{
  float: left;
  margin: 10px;
}
.clearfix{
  float: none;
  clear: both;
}
.next{
  margin-left: 250px;
  margin-bottom: 50px;
}