.phrase2Print{
    font-size: xx-large;
    font-stretch: expanded;
    padding: 30px;
    margin-top: 140px;
    border: 2px darkgrey dashed;
    text-align: center;
    line-height : 35px;
}
.WordsContainer{
  display: block;
  margin-left: 300px;  
}
.words{
  float: left;
  padding: 10px;
  margin: 15px;
}
.clearfix{
  float: none;
  clear: both;
}
.next{
  width: 50%;
  padding: 10px;
  margin: 15px;
}
