<div class="game">
  <br><br><br><br>
  <div class="phrase2Print">
    <Label class="phrase" [textContent]="phrase2Print"></Label>
    <p></p>
    <Label *ngIf="phraseCompleted" class="phrase" [textContent]="phrase2PrintTranslate"></Label>
  </div>

  <div class="WordsContainer">
    <div id="words" *ngFor="let item of phraseItems">

      <button mat-raised-button color="primary" (click)="clickOnWord(item)"  class="words">{{item}}</button>
    </div>
    <div class="clearfix"></div>
  </div>
  <p></p>

</div>
